<!DOCTYPE HTML>
<html>
<head>
	<title>{{title}}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <link rel="stylesheet" href="static/style.css" />
</head>

<body>
    <h3>{{title}}</h3>
    <p>{{ time }}</p>
    <p class="tag">亲爱的洞友，由于招聘信息来自第三方，小树洞不对信息的安全负责，所以提醒各位洞友，要注意考察信息安全哦~~~</p>
  <div class="header">
    <hr />
  </div>
  <ul>
  {% for job in jobs %}
    <div class="message_job">
        <li>
          <strong>{{ job.id}}. </strong>
          <h2>{{ job.title }} </h2>
          <p class="tag">发布时间：{{ job.msg_created_at }}</p>

          {{ job.content }} <br>
          <p class="tag">工作地点：{{ job.area }}<br>
          联系人：{{ job.contacts }}<br>
          联系电话：{{ job.tel }}</p>
        </li>
    </div>
  {% end %}
  </ul>
</body>
</html>
